

<div class="jumbotron text-center">

  <h2 class="bg-success text-white p-2">Employee Registration</h2>

  <h6 class="bg-default text-black">Please enter the details of the employee to Register</h6> 

</div>

<div class="ss">

 

 

 

  <form action="#">

     <div class="row">

           

             

             

             

              <div class="col-md-3">

                 <div class="form-group">

                     <label for="Email" class="control-label">Email ID</label>

                     <input type="text" class="form-control">

                 </div>

             </div>

            

             

              <div class="col-md-3">

                 <div class="form-group">

                     <label for="lastname" class="control-label">first Name</label>

                     <input type="text" class="form-control">

                 </div>

             </div>

            

             

              

             <div class="col-md-3">

                 <div class="form-group">

                     <label for="lastname" class="control-label">Last Name</label>

                     <input type="text" class="form-control">

                 </div>

             </div>

            

             

              <div class="col-md-3">

                 <div class="form-group form-group-sm">

                     <label for="DOB" class="control-label">Date of Birth</label>

                     <input type="date" class="form-control">

                 </div>

             </div>

            

          

             <div class="col-md-3">

                 <div class="form-group">

                     <label for="Employee ID" class="control-label">Employee Id</label>

                     <input type="text" class="form-control">

                 </div>

             </div>

            

             

              

             <div class="col-md-3">

                 <div class="form-group">

                     <label for="Employee ID" class="control-label">Contact NO</label>

                     <input type="text" class="form-control">

                 </div>

             </div>

            

             

                <div class="col-md-3">

                 <div class="form-group form-group-sm">

                     <label for="DOJ" class="control-label">Date of joining</label>

                     <input type="date" class="form-control">

                 </div>

             </div>

            

             

             

             

             <div class="col-md-3">

                 <div class="form-group">

                     <label for="select" class="control-label">Is Admin</label>

                     <select type="text" class="form-control">

                     <option> Yes</option>

                     <option> No</option>

                     </select>

                    

                 </div>

             </div>

            

             

             <div class="col-md-3">

                 <div class="form-group">

                     <label for="Employee ID" class="control-label">User Name</label>

                     <input type="text" class="form-control">

                 </div>

             </div>

            

             

             

              <div class="col-md-3">

                 <div class="form-group">

                     <label for="pwd">Password </label>

                     <input type="text" class="form-control" id="pwd">

                 </div>

             </div>

            

             

              <div class="col-md-3">

                 <div class="form-group">

                     <label for="Employee ID" class="control-label">Designation</label>

                     <input type="text" class="form-control">

                 </div>

             </div>

            

              <div class="col-md-3">

                 <div class="form-group">

                     <label for="pwd">Access </label>

                     <select type="text" class="form-control">

                       <option> True</option>

                     <option>False</option>

                     </select>

                    

                     

                 </div>

             </div>

            

              <div class="col-md-3">

                 <div class="form-group">

                     <label for="Salary">Salary</label>

                     <input type="text" class="form-control" placeholder="in rupees">

                 

                 </div>

             <!--

--></div>
<div class="col-md-3">

  <div class="form-group mt-5">
<button routerLink="/home" class="btn btn-primary float-left">
  Register Me
</button>
</div>
</div>
</div></form></div>