
<div class="jumbotron text-center">

  <h2 class="bg-success text-white p-2">Admin Dashboard</h2>

  <h6 class="bg-default text-black">Here You can Perform CRUD Operation</h6> 

</div>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink="employee_list" href="#">Employee List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/add_employee" href="#">Add Employee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/view_employee" href="#">View Employee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/" href="#">Logout</a>
  </li>
</ul>

<div class="container">

</div>