

<div class="jumbotron text-center">

  <h2 class="bg-success text-white p-2">Employee Login</h2>

  <h6 class="bg-default text-black">Please enter the details of the employee to Login</h6> 

</div>

<div class="container">
<form action="/action_page.php">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div>
  <button type="button" class="btn btn-primary" routerLink="/admin">Submit</button>
</form>
</div>